* {
  margin: 0;
  padding: 0;
}
.App {
  width: 100%;
  height: 100%;
}
.appContent {
  width: 100%;
  height: 90%;
}
.pageMainDiv {
  width: 100%;
  height: 100%;
}
.appContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.appContainer .roomsContainer {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  height: 100%;
  width: 95%;
  overflow: scroll;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
}
.navbarRightElements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
  list-style: none;
}
.navbarRightElements li:hover {
  color: rgb(255, 123, 0);
  cursor: pointer;
}
.sideNav {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 20%;
  height: 90%;
  margin-top: 1%;
  margin-left: 1.5%;
}
.sideNavTitle {
  margin-left: 10%;
  font-size: small;
}
.sideNavTitle:hover {
  font-size: medium;
  margin-left: 0.5%;
}
.sideNav li {
  height: 20%;
  text-align: center;
  padding-top: 5%;
  border-top: 1px solid rgb(197, 197, 197);
}
.sideNav li:last-child {
  border-bottom: 1px solid rgb(197, 197, 197);
}
.sideNav li:hover {
  color: rgb(255, 123, 0);
  cursor: pointer;
}
.roomDiv {
  width: 100%;
  height: 100%;
}
.room {
  width: 100%;
  height: 60%;

  display: flex;
  flex-direction: row;
  background: rgb(248, 248, 248);
}
.roomPhotos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 44%;
  height: 94%;

  margin-top: 1%;
  margin-left: 1%;
  background: white;
}
.roomPhotos img {
  width: 100%;
  height: 100%;
}
.roomInfo {
  margin-top: 1%;
  margin-left: 1%;
  width: 53%;
  height: 94%;

  display: flex;
  flex-direction: column;
  background: white;
}
.roomSpecifications {
  display: flex;
  flex-direction: inherit;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
  border-bottom: 1px solid rgb(236, 236, 236);
  border-top: 1px solid rgb(236, 236, 236);
  background: white;
}
.roomPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 25%;
  border-bottom: 1px solid rgb(236, 236, 236);
  padding-top: 3%;
  background: white;
}
.chooseDate {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid rgb(236, 236, 236);
  padding-top: 2%;
  background: white;
}
.chooseDate input {
  height: 40%;
}
.submit {
  width: 100%;
  height: 13%;

  text-align: center;
  padding-top: 2%;
  background: white;
}
.submit input {
  background: rgb(34, 143, 34);
  border-radius: 4px;
  border: none;
  color: white;
  width: 30%;
}
.firstPrice {
  text-decoration: line-through;
  margin-top: 2.5%;
}
.discount {
  color: green;
  margin-top: 2.5%;
}
.room-night {
  margin-top: 2.5%;
}
.checkIcon {
  color: green;
}
.submit div form {
  border: 1px solid red;
}

.businessesContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.businessesSideNavBar {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  list-style: none;
}
.businessesSideNavBar li {
  width: 90%;
  margin-left: 5%;
  height: 7%;
  border-bottom: 1px solid purple;
  text-align: center;
  padding-top: 2%;
  cursor: pointer;
}
.businessesSideNavBar li:first-child {
  border-top: 1px solid purple;
  margin-top: 30%;
}
.businessesSideNavBar li:hover {
  color: orange;
}
.businesses {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid blue;
  padding-right: 2.5%;
  overflow: scroll;
}
.business {
  width: 20%;
  height: 40%;
  border: 1px solid gainsboro;
  margin-top: 5%;
  margin-left: 5%;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px gainsboro;
}
.business:hover {
  box-shadow: 2px 1px 1px rgb(255, 166, 0);
}
.businessImgDiv {
  width: 100%;
  height: 80%;
}
.hotelPht {
  width: 100%;
  height: 100%;
}
.businessInfo {
  width: 100%;
  height: 20%;
  display: flex;
  padding-top: 8%;
  justify-content: space-evenly;
}

.businessAddress {
  display: flex;
}
.mapMarkericon {
  color: orange;
  margin-top: 6%;
}
.businessLink {
  text-decoration: none;
  color: black;
}
.businessLink:hover {
  text-decoration: none;
  color: black;
}
.allContent {
  width: 100%;
  height: 200%;
  background-color: rgb(238, 238, 238);
}
.userProfileContent {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  background-color: rgb(238, 238, 238);
}
.userProfileSideNav {
  height: 60%;
  width: 15%;
  box-shadow: 2px 2px 2px 2px orange;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
  background-color: white;
}
.userProfileMainContent {
  width: 80%;
  height: 100%;
}
.userProfileData {
  width: 97.5%;
  height: 60%;
  box-shadow: 2px 2px 2px 2px orange;
  margin-top: 3.5%;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.userOtherData {
  width: 97.5%;
  height: 55%;
  margin-top: 2.5%;
  background-color: white;
}
.tableDiv {
  width: 95%;
  height: 50%;
  margin-left: 2.5%;
  border-left: 1px solid rgb(211, 211, 211);
  border-top: 1px solid rgb(211, 211, 211);
  border-bottom: 1px solid rgb(211, 211, 211);
  overflow: scroll;
}
.userProfilePicture {
  width: 40%;
  height: 100%;

  text-align: center;
  background-color: white;
}
.profilePicture {
  width: 65%;
  height: 95%;
  margin-top: 2.5%;
  border-radius: 70%;
}
.userProfileInfo {
  padding-top: 2.5%;
  text-align: center;

  width: 40%;
  background-color: white;
}
.reservationsTable {
  width: 100%;
  height: 100%;
}
.reservationsTable tbody {
  background: white;
  border-bottom: 1px solid lightgray;
}
.reservationsTable th {
  border-right: 1px solid lightgray;
  background: rgb(185, 185, 185);
}
.reservationsTable td {
  border-right: 1px solid lightgray;
}
.navBarProfileBtn {
  color: black;
  text-decoration: none;
}
.navBarProfileBtn:hover {
  color: black;
  text-decoration: none;
}
.userProfileSideNav ul {
  list-style: none;
}

.userProfileSideNav ul li {
  width: 90%;
  height: 5%;
  text-align: center;
  margin-top: 10%;
  margin-left: 5%;
  border-bottom: 1px solid rgb(197, 197, 197);
}
.userProfileSideNav ul li:first-child {
  margin-top: 5%;
}
.userProfileSideNav ul li a {
  color: black;
  text-decoration: none;
}
.userProfileSideNav ul li a:hover {
  color: orange;
  text-decoration: none;
}
